:root {
  --dk: #5e3575;
  --lt: #c676f5;
  --bg: #bfaed4;
  --ltfc: #ffffff;
  --accent: chartreuse;
}

/* * {
  box-sizing: border-box;
}

body {
  display: block;
  background-color: var(--bg);
  color: var(--ltfc);
  font-family: 'Trebuchet MS', sans-serif;
}

.container {
  width: 95vw;
  margin: auto;
}

.app {
  padding-bottom: 1000px;
} */